<section data-ng-controller="OffersController" data-ng-init="findLocation()">
	
	<h2>Enter your Geo Location<h2>
	<p></p>
	<form data-ng-submit="getLocalOffers()" novalidate>			
		<div>
		Longitude:<input type = "text" id="long" data-ng-model="long" placeholder="long"/><br>
		Latitude :<input type = "text" id="lat" data-ng-model="lat" placeholder="lat"/><br>
		
		<input type="submit"/>
		</div>		
	</form>

	<div data-ng-repeat="o in offers">
		<ul>
			<li>
				<div>
					Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;: <small data-ng-bind="o.title"></small> <br />
					Description&nbsp;&nbsp;&nbsp;&nbsp; : <small data-ng-bind="o.desc"></small> <br />
					Start Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <small data-ng-bind="o.start_time"></small> <br />
					End Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <small data-ng-bind="o.end_time"></small> <br />
					Discount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <small data-ng-bind="o.start_discount"></small> <br />
					Quantity_Left : <small data-ng-bind="o.Quantity_Remaining"></small><br />
					<input type="button" value="Like"></input>
				</div>
			</li>
		</ul>
	</div>
	
</section>
